.popup__input-text {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 0 30px;
  padding: 0 0 13px;
}

.popup__input-text:last-of-type {
  margin-bottom: 0;
}

.popup__input-text::-webkit-input-placeholder {color:#c4c4c4;}
.popup__input-text::-moz-placeholder          {color:#c4c4c4;}
.popup__input-text::-ms-input-placeholder     {color:#c4c4c4;}
.popup__input-text::placeholder               {color:#c4c4c4;}
