.profile__image-edit-btn {
  border-radius: 60px;
  min-width: 120px;
  min-height: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  border-width: 0;
}
